.form-control label,
.form-control input {
  display: block;
  margin-bottom: 8px;
}

.form-control input {
  border: 2px solid #333333;
  padding: 8px;
  width: 33%;
  font: inherit;
  border-radius: 8px;
}

.form-control input:focus {
  border-color: #663cff;
  outline: none;
  background-color: #e6e0fd;
}

button {
  background-color: #663cff;
  cursor: pointer;
  padding: 8px 12px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}

button:hover {
  background-color: #472aaf;
}